#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.individual {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 20px;
 background-color: lightgrey;
 color: black;
 border-radius: 16px;
}

.inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-button {
  width: 140px;
}
.image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: lightgrey;
  color: black;
  border-radius: 16px;
}